<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd" debug="false" scan="true" scanPeriod="60 second">
    <springProperty scope="context" name="PROJECT" source="spring.application.name" />
    <property name="ROOT" value="logs" />
    <property name="FILE_SIZE" value="50MB" />
    <property name="MAX_HISTORY" value="14" />
    <property name="SIZE_CAP" value="2GB" />
    <appender name="ConsoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} %line - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="ServiceLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%tid] [%thread] %logger{36} %line - %m%n</Pattern>
            </layout>
        </encoder>
        <file>${ROOT}/${PROJECT}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ROOT}/${PROJECT}.%d.%i.log.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${SIZE_CAP}</totalSizeCap>
            <maxFileSize>${FILE_SIZE}</maxFileSize>
        </rollingPolicy>
    </appender>
    
    <appender name="HealthLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%tid] [%thread] %logger{36} %line - %m%n</Pattern>
            </layout>
        </encoder>
        <file>${ROOT}/${PROJECT}_Health.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ROOT}/${PROJECT}_Health.%d.%i.log.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${SIZE_CAP}</totalSizeCap>
            <maxFileSize>${FILE_SIZE}</maxFileSize>
        </rollingPolicy>
    </appender>

    <springProfile name="dev">
        <logger name="com.feeling" level="INFO" additivity="false">
            <appender-ref ref="ServiceLogFile"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="ServiceLogFile"/>
            <appender-ref ref="ConsoleLog" />
        </root>
    </springProfile>
    
    <springProfile name="sit,uat,pi,pro">
        <logger name="com.feeling" level="INFO" additivity="false" >
	        <appender-ref ref="ServiceLogFile" />
	    </logger>
	    <logger name="com.zaxxer.hikari.pool.HikariPool" level="DEBUG" additivity="false" >
	        <appender-ref ref="HealthLogFile" />
	    </logger>
	    <root level="INFO">
	        <appender-ref ref="ServiceLogFile" />
	    </root>
    </springProfile>
</configuration>